Options +FollowSymLinks
RewriteEngine on
RewriteBase /

RewriteCond %{HTTP_HOST} ^www\.(.*) [NC]
RewriteRule ^(.*)$ http://%1/$1 [R=301,L]

RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /([^.]+)\.html\ HTTP
RewriteRule ^([^.]+)\.html$ http://onplace.io/$1 [R=301,L]
RewriteCond %{REQUEST_URI} !(\.[^./]+)$
RewriteCond %{REQUEST_fileNAME} !-d
RewriteCond %{REQUEST_fileNAME} !-f
RewriteRule (.*) /$1.html [L]

RewriteCond %{HTTP_HOST} ^www\.onplace\.io$ [NC]
RewriteCond %{REQUEST_URI} !^/robots.*
RewriteRule ^(.*)$ http://onplace.io/$1 [R=301,L]

RewriteCond %{REQUEST_URI} /index.html
RewriteCond %{QUERY_STRING} ^\z
RewriteRule ^(.*)$ http://onplace.io/? [R=301,L]

Redirect 301 /page726882.html http://www.onplace.io/
Redirect 301 http://onplace.io/ch http://www.onplace.io/ch/main.html